<div style="width: 100%">

    <div class="w-full">
        <h1 class="text-center text-4xl mt-12" style="margin-bottom: 5% ; color:#2A7AAD">Statistics</h1>
    </div>

    <div class="" style="width: 100%; display: inline-flex">
        <div class="chart-container" style="width: 25%, display: inline-block, height: 500px">
            <canvas id="MyChart" style="height: 100%">{{ barChart }}</canvas>
        </div>

        <div class="chart-container" style="width: 25%,  display: inline-block, height: 500px">

            <canvas id="PieChart">{{ pieChart }}</canvas>

        </div>
        <div class="chart-container" style="width: 25%, display: inline-block,height: 500px;">

            <canvas id="PieChartrating">{{ piechartrating }}</canvas>
        </div>
        <div class="chart-container" style="width: 25%, display: inline-block,height: 500px;">

            <canvas id="ChartAds">{{ chartAds }}</canvas>
        </div>

    </div>