
<mat-horizontal-stepper [linear]="isLinear" #stepper class="stepper">

  <div>
    <mat-step [completed]="step1Completed" class="custom-step">
      <ng-template matStepLabel>Step 1</ng-template>
      <app-forum-category-selection (form1ValidityChanged)="handleValidityChanged1($event)" (subcategorySelected)="transmitSubcategory($event)" (categorySelected)="transmitCategory($event)" [submitForms]="submitForms" (form1)="form1test($event)">
      </app-forum-category-selection>
      <div>
        <button mat-button matStepperNext [disabled]="!step1Completed" class="next_btn">Next</button>      
      </div>
    </mat-step>
  </div>

  <div>
    <mat-step [completed]="step2Completed" class="custom-step"> 
      <ng-template matStepLabel>Step 2</ng-template>
      <app-forum-unique-details [selectedSubcategory]="selectedSubcategoryName"  [selectedCategory]="selectedCategoryName" (form2ValidityChanged)="handleValidityChanged2($event)" [submitForms]="submitForms" (form3)="form3test($event)"></app-forum-unique-details>
      <div>
        <button mat-button matStepperNext [disabled]="!step2Completed" class="next_btn">Next</button>      
      </div>
      <div>
        <button mat-button matStepperPrevious class="back_btn">Back</button>      
      </div>      
    </mat-step>
  </div>

  <div>
    <mat-step [completed]="step3Completed" class="custom-step"> 
      <ng-template matStepLabel>Step 3</ng-template>
      <app-forum-general-details (form3ValidityChanged)="handleValidityChanged3($event)" [submitForms]="submitForms" (form2)="form2test($event)"></app-forum-general-details>
      <div>
        <button mat-button matStepperNext [disabled]="!step3Completed" class="next_btn">Next</button>      
      </div>
      <div>
        <button mat-button matStepperPrevious class="back_btn">Back</button>      
      </div>       
    </mat-step>
  </div>

  <div>
    <mat-step class="custom-step"> 
      <ng-template matStepLabel>Step 4</ng-template>
      <app-forum-promote-ad (form4ValidityChanged)="handleValidityChanged4($event)" [submitForms]="submitForms"></app-forum-promote-ad> 
      <ng-container *ngIf="areAllStepsCompleted()">
        <div class="message">
          All steps are completed!
        </div>
      </ng-container>    
    </mat-step>
  </div>


</mat-horizontal-stepper>