.stepper {
    background-color: #f7f7f7; /* Replace with the desired color code */
    padding: 2% 5%;
}



.parent-container.disabled {
    pointer-events: none; /* Disable mouse interactions */
    opacity: 0.5; /* Optionally adjust opacity to indicate disabled state */
  }

/* mat-horizontal-stepper{
 margin-top: 6%; 
 margin-bottom: 7%;
} */

.stepper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.next_btn {
  float: right;
  background-color: #2A7AAD;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 8px 13px;
  cursor: pointer;
}

.next_btn:disabled {
  background-color: #bee4fc; /* Change background color when disabled */
}

.back_btn {
  float: left;
  background-color: #2A7AAD;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 8px 13px;
  cursor: pointer;
}

.back_btn:disabled {
  background-color: #bee4fc; /* Change background color when disabled */
}


/* Override focus styles for Angular Material stepper */
::ng-deep .mat-horizontal-stepper-header-container{
  background-color: #ffffff;
  border-radius: 5vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
::ng-deep .mat-stepper-horizontal-line{
  border-top-color: rgb(0, 0, 0) !important;
  border-top-style: dashed !important;
}
::ng-deep .mat-primary.mat-step-header{
  border-radius: 5vw;
}
::ng-deep .mat-primary.mat-step-header:focus[aria-selected="true"]{
  background-color: #bee4fc;
}





