<div class="form-container">

<div>
 
  <p>{{ selectedCategory }}</p>
  <p>{{ selectedSubcategory }}</p>

  <div *ngIf="selectedCategoryName === '1'">
    {{onFormValidityChanged(vehiclesForm)}}
    <form [formGroup]="vehiclesForm">

      <div *ngIf="selectedSubcategoryName === '8'">
        <mat-form-field>
          <mat-label>Part or Accessory</mat-label>
          <input matInput formControlName="Part_or_Accessory" placeholder="Part or Accessory">
        </mat-form-field>
      </div>

      <div *ngIf="selectedSubcategoryName !== '2'">
        <mat-form-field appearance="fill">
          <mat-label>Brand</mat-label>
          <input matInput formControlName="brand" placeholder="Brand">
        </mat-form-field>
      </div>
    
      <div *ngIf="selectedSubcategoryName !== '7'">
        <mat-form-field>
          <mat-label>Model</mat-label>
          <input matInput formControlName="model" placeholder="Model">
        </mat-form-field>
      </div>
    
      <div *ngIf="selectedSubcategoryName !== '7' && selectedSubcategoryName !== '8'">
        <mat-form-field>
          <mat-label>Year of Manufacture</mat-label>
          <input matInput type="number" formControlName="yearOfManufacture" placeholder="Year of Manufacture">
        </mat-form-field>
      </div>
    
      <div  *ngIf="selectedSubcategoryName !== '7' && selectedSubcategoryName !== '8' && selectedSubcategoryName !== '9' ">
        <mat-form-field>
          <mat-label>Mileage</mat-label>
          <input matInput type="number" formControlName="mileage" placeholder="Mileage">
        </mat-form-field>
      </div>
    
      <div>
        <mat-form-field *ngIf="selectedSubcategoryName !== '7' && selectedSubcategoryName !== '8' && selectedSubcategoryName !== '9' ">
          <mat-label>Transmission</mat-label>
          <mat-select formControlName="transmission" placeholder="Transmission">
            <mat-option value="automatic">Automatic</mat-option>
            <mat-option value="manual">Manual</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field *ngIf="selectedSubcategoryName === '7'">
          <mat-label>Type</mat-label>
          <mat-select formControlName="BicycleType" placeholder="Bicycle Type">
            <mat-option value="Mountain">Mountain Bicycle</mat-option>
            <mat-option value="RoadBicycle">Road Bicycle</mat-option>
            <mat-option value="FoldingBicycle">Folding Bicycle</mat-option>
            <mat-option value="Tricycle">Tricycle</mat-option>
            <mat-option value="CityBicycle">City Bicycle</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </form>
  </div>

  <div  *ngIf="selectedCategoryName === '2'">
    {{onFormValidityChanged(propertyForm)}}
    <form [formGroup]="propertyForm">
      <div *ngIf="selectedSubcategoryName !== '12' && selectedSubcategoryName !== '13'">
        <mat-form-field appearance="fill">
          <mat-label>Land Size</mat-label>
          <input matInput formControlName="landSize" placeholder="Land Size">
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName !== '12' && selectedSubcategoryName !== '13'">
        <mat-form-field>
          <mat-label>Unit</mat-label>
          <mat-select formControlName="unit">
            <mat-option value="perches">Perches</mat-option>
            <mat-option value="acres">Acres</mat-option>
          </mat-select>
        </mat-form-field>        
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" placeholder="Address">
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName !== '10' && selectedSubcategoryName !== '13'">
        <mat-form-field>
          <mat-label>Bedrooms</mat-label>
          <input matInput formControlName="bedrooms" type="number" placeholder="Bedrooms">
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName !== '10' && selectedSubcategoryName !== '13'">
        <mat-form-field>
          <mat-label>Bathrooms</mat-label>
          <input matInput formControlName="bathrooms" type="number" placeholder="Bathrooms">
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName !== '10' && selectedSubcategoryName !== '11' && selectedSubcategoryName !== '12'">
        <mat-form-field>
          <mat-label>Property Type</mat-label>
          <input matInput formControlName="propertyType" placeholder="Property Type">
        </mat-form-field>        
      </div>
    </form>
  </div>

  <!-- Electronics Form -->
  <div  *ngIf="selectedCategoryName === '3'">
    {{onFormValidityChanged(electronicsForm)}}
    <form [formGroup]="electronicsForm">
      <div>
        <mat-form-field>
          <mat-label>Brand</mat-label>
          <input matInput formControlName="brand" placeholder="Brand">
        </mat-form-field>      
      </div>
      <div>
        <mat-form-field>
          <mat-label>Model</mat-label>
          <input matInput formControlName="model" placeholder="Model">
        </mat-form-field>
      </div>
      <div  *ngIf="selectedSubcategoryName === '15'">
        <mat-form-field>
          <mat-label>Computer Type</mat-label>
          <mat-select formControlName="computerType">
            <mat-option value="Laptop">Laptop</mat-option>
            <mat-option value="Desktop">Desktop</mat-option>
          </mat-select>
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName === '17'">
        <mat-form-field>
          <mat-label>TV Type</mat-label>
          <mat-select formControlName="tvType">
            <mat-option value="3D">3D</mat-option>
            <mat-option value="LCD">LCD</mat-option>
            <mat-option value="LED">LED</mat-option>
            <mat-option value="CRT">CRT</mat-option>
          </mat-select>
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName === '17'">
        <mat-form-field>
          <mat-label>Screen Size</mat-label>
          <mat-select formControlName="screenSize">
            <mat-option value="24">24"</mat-option>
            <mat-option value="32">32"</mat-option>
            <mat-option value="40">40"</mat-option>
            <mat-option value="43">43"</mat-option>
            <mat-option value="50">50"</mat-option>
            <mat-option value="55">55"</mat-option>
            <mat-option value="60">60"</mat-option>
            <mat-option value="65">65"</mat-option>
            <mat-option value="other">Other</mat-option>
          </mat-select>
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName === '19'">
        <mat-form-field>
          <mat-label>Accessory Type</mat-label>
          <mat-select formControlName="accessoryType">
            <mat-option value="Hard Drive">Hard Drive</mat-option>
            <mat-option value="Keyboard">Keyboard</mat-option>
            <mat-option value="Mouse">Mouse</mat-option>
            <mat-option value="Router">Router</mat-option>
            <mat-option value="Mouse Pad">Mouse Pad</mat-option>
            <mat-option value="Monitor">Monitor</mat-option>
            <mat-option value="RAM">RAM</mat-option>
            <mat-option value="Printer">Printer</mat-option>
            <mat-option value="PC Internal Items">PC Internal Items</mat-option>
            <mat-option value="VGA">VGA</mat-option>
            <mat-option value="Stylus Pen">Stylus Pen</mat-option>
            <mat-option value="Tablet Pads">Tablet Pads</mat-option>
            <mat-option value="Back Covers">Back Covers</mat-option>
            <mat-option value="Camera Lens">Camera Lens</mat-option>
            <mat-option value="Camera Bags">Camera Bags</mat-option>
            <!-- Add more options as needed -->
          </mat-select>
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName === '20'">
        <mat-form-field>
          <mat-label>Item Type</mat-label>
          <input matInput formControlName="electronicOtherItemType" placeholder="Item Type">
        </mat-form-field>        
      </div>
    </form>
  </div>

  <!-- Fashion Form -->
  <div  *ngIf="selectedCategoryName === '4'">
    {{onFormValidityChanged(fashionForm)}}
    <form [formGroup]="fashionForm">
      <div>
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Unisex">Unisex</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Brand</mat-label>
          <input matInput formControlName="brand" placeholder="Brand">
        </mat-form-field>        
      </div>
      <div>
        <mat-form-field>
          <mat-label>Size</mat-label>
          <input matInput formControlName="size" placeholder="Size">
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName === '27'">
        <mat-form-field>
          <mat-label>Beauty Product Type</mat-label>
          <mat-select formControlName="beautyProductType">
            <mat-option value="Cosmetics">Cosmetics</mat-option>
            <mat-option value="Grooming">Grooming</mat-option>
            <mat-option value="Perfume">Perfume</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName === '28'">
        <mat-form-field>
          <mat-label>Other Fashion Item</mat-label>
          <input matInput formControlName="otherFashionItem" placeholder="Other Fashion Item">
        </mat-form-field>        
      </div>
    </form>
  </div>

  <!-- Home Applicances Form -->
  <div  *ngIf="selectedCategoryName === '5'">
    {{onFormValidityChanged(HomeApplicancesForm)}}
    <form [formGroup]="HomeApplicancesForm">
      <div>
        <mat-form-field>
          <mat-label>Brand</mat-label>
          <input matInput formControlName="brand" placeholder="Brand">
        </mat-form-field>      
      </div>
      <div *ngIf="selectedSubcategoryName === '29'">
        <mat-form-field>
          <mat-label>Kitchen Item</mat-label>
          <mat-select formControlName="kitchenItem">
            <mat-option value="Bakeware">Bakeware</mat-option>
            <mat-option value="Cookware">Cookware</mat-option>
            <mat-option value="Kitchen Appliances">Kitchen Appliances</mat-option>
            <mat-option value="Kitchen Equipment">Kitchen Equipment</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName === '30'">
        <mat-form-field>
          <mat-label>Laundry Item</mat-label>
          <mat-select formControlName="laundryItem">
            <mat-option value="Washing Machine">Washing Machine</mat-option>
            <mat-option value="Dryers">Dryers</mat-option>
            <mat-option value="Irons">Irons</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName === '31'">
        <mat-form-field>
          <mat-label>Cleaning Items</mat-label>
          <mat-select formControlName="cleaningItems">
            <mat-option value="Cleaning Solution Products">Cleaning Solution Products</mat-option>
            <mat-option value="Cleaning Equipment">Cleaning Equipment</mat-option>
            <mat-option value="Cleaning Tools">Cleaning Tools</mat-option>
            <mat-option value="Trash Bags & Bins">Trash Bags & Bins</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName === '32'">
        <mat-form-field>
          <mat-label>Other Home appliances Item</mat-label>
          <input matInput formControlName="otherHomeAppliancesItem" placeholder="Other Home appliances Item">
        </mat-form-field>        
      </div>
    </form>
  </div>


  <!-- Furniture & Home decors Form -->
  <div  *ngIf="selectedCategoryName === '6'">
    {{onFormValidityChanged(furnitureHomedecorsForm)}}
    <form [formGroup]="furnitureHomedecorsForm">
      <div>
        <mat-form-field>
          <mat-label>Material</mat-label>
          <input matInput formControlName="material" placeholder="Material">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Design</mat-label>
          <input matInput formControlName="design" placeholder="Design">
        </mat-form-field>        
      </div>
      <div>
        <mat-form-field>
          <mat-label>Furniture or Home Decor Type</mat-label>
          <input matInput formControlName="furnitureOrHomeDecorType" placeholder="Furniture or Home Decor Type">
        </mat-form-field>        
      </div>
    </form>
  </div>

  <!-- Sport and Fitness Form -->
  <div  *ngIf="selectedCategoryName === '7'">
    {{onFormValidityChanged(sportAndFitnessForm)}}
    <form [formGroup]="sportAndFitnessForm">
      <div>
        <mat-form-field>
          <mat-label>Brand</mat-label>
          <input matInput formControlName="brand" placeholder="Brand">
        </mat-form-field>
      </div>
      <div *ngIf="selectedSubcategoryName !== '42' || selectedSubcategoryName !== '42'">
        <mat-form-field>
          <mat-label>Sport and Fitness Item</mat-label>
          <mat-select formControlName="sportAndFitnessItem">
            <mat-option value="Dumbbells">Dumbbells</mat-option>
            <mat-option value="Weight Plates">Weight Plates</mat-option>
            <mat-option value="Cricket Bat">Cricket Bat</mat-option>
            <mat-option value="Cricket Ball">Cricket Ball</mat-option>
            <mat-option value="Cricket Gloves">Cricket Gloves</mat-option>
            <mat-option value="Cricket Helmet">Cricket Helmet</mat-option>
            <mat-option value="Yoga Mat">Yoga Mat</mat-option>
            <mat-option value="Workout Gloves">Workout Gloves</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>        
      </div>
      <div *ngIf="selectedSubcategoryName === '42' || selectedSubcategoryName === '42'">
        <mat-form-field>
          <mat-label>Other Sport Item</mat-label>
          <input matInput formControlName="otherSportItem" placeholder="Other Sport Item">
        </mat-form-field>        
      </div>
    </form>
  </div>

  <!-- Musical instrument Form   -->
  <div  *ngIf="selectedCategoryName === '8'">
    {{onFormValidityChanged(musicalInstrumentForm)}}
    <form [formGroup]="musicalInstrumentForm">
      <div>
        <mat-form-field>
          <mat-label>Brand</mat-label>
          <input matInput formControlName="brand" placeholder="Brand">
        </mat-form-field>
      </div>
      
      <div *ngIf="selectedSubcategoryName === '44'">
        <mat-form-field>
          <mat-label>String Instruments Item</mat-label>
          <mat-select formControlName="stringInstrumentsItem">
            <mat-option value="Guitar">Guitar</mat-option>
            <mat-option value="Violin">Violin</mat-option>
            <mat-option value="Mandolin">Mandolin</mat-option>
            <mat-option value="OtherString">Other string</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div *ngIf="selectedSubcategoryName === '45'">
        <mat-form-field>
          <mat-label>Wind Instruments Item</mat-label>
          <mat-select formControlName="windInstrumentsItem">
            <mat-option value="Flute">Flute</mat-option>
            <mat-option value="Clarinet">Clarinet</mat-option>
            <mat-option value="Saxophone">Saxophone</mat-option>
            <mat-option value="Trumpet">Trumpet</mat-option>
            <mat-option value="OtherWind">Other wind </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div *ngIf="selectedSubcategoryName === '46'">
        <mat-form-field>
          <mat-label>Other Instruments Item</mat-label>
          <mat-select formControlName="otherInstrumentsItem">
            <mat-option value="Drums">Drums</mat-option>
            <mat-option value="Keyboard">Keyboard</mat-option>
            <mat-option value="Piano">Piano</mat-option>
            <mat-option value="OtherInstrument">Other instrument</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div *ngIf="selectedSubcategoryName === '47'">
        <mat-form-field>
          <mat-label>Instrument Accessories</mat-label>
          <input matInput formControlName="instrumentAccessories" placeholder="Instrument Accessories">
        </mat-form-field>
      </div>
      
      <div *ngIf="selectedSubcategoryName === '48'">
        <mat-form-field>
          <mat-label>Recording and Studio Equipment</mat-label>
          <input matInput formControlName="recordingAndStudioEquipment" placeholder="Recording and Studio Equipment">
        </mat-form-field>
      </div>
      
      <div *ngIf="selectedSubcategoryName === '49'">
        <mat-form-field>
          <mat-label>Musical Other Items</mat-label>
          <input matInput formControlName="musicalOtherItems" placeholder="Musical Other Items">
        </mat-form-field>
      </div>
    </form>
  </div>

  <!-- Animals -->
  <div  *ngIf="selectedCategoryName === '9'">
    {{onFormValidityChanged(animalsForm)}}
    <form [formGroup]="animalsForm">
      <div *ngIf="selectedSubcategoryName === '50'">
        <mat-form-field>
          <mat-label>Domestic Animal Type</mat-label>
          <mat-select formControlName="domesticAnimalType">
            <mat-option value="Dog">Dog</mat-option>
            <mat-option value="Cat">Cat</mat-option>
            <mat-option value="Tank Fish">Tank Fish</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div *ngIf="selectedSubcategoryName === '51'">
        <mat-form-field>
          <mat-label>Farm Animal Type</mat-label>
          <input matInput formControlName="farmAnimalType" placeholder="Farm Animal Type">
        </mat-form-field>
      </div>
      
      <div *ngIf="selectedSubcategoryName === '52'">
        <mat-form-field>
          <mat-label>Pet Supplies & Accessories Item</mat-label>
          <input matInput formControlName="petSuppliesAndAccessoriesItem" placeholder="Pet Supplies & Accessories Item">
        </mat-form-field>
      </div>
      
      <div *ngIf="selectedSubcategoryName === '53'">
        <mat-form-field>
          <mat-label>Other Animals Item</mat-label>
          <input matInput formControlName="otherAnimalsItem" placeholder="Other Animals Item">
        </mat-form-field>
      </div>
    </form>
  </div>

  <!-- Tools & Equipment Form -->
  <div  *ngIf="selectedCategoryName === '10'">
    {{onFormValidityChanged(toolsAndEquipmentForm)}}
    <form [formGroup]="toolsAndEquipmentForm">
      <div>
        <mat-form-field>
          <mat-label>Tool Type</mat-label>
          <input matInput formControlName="toolType" placeholder="Tool Type">
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <mat-label>Performance</mat-label>
          <input matInput formControlName="toolPerformance" placeholder="Tool Performance">
        </mat-form-field>
      </div>
    </form>
  </div>

  <!-- Education Form -->
  <div  *ngIf="selectedCategoryName === '11'">
    {{onFormValidityChanged(educationForm)}}
    <form [formGroup]="educationForm">
      <div *ngIf="selectedSubcategoryName === '58'">
        <mat-form-field>
          <mat-label>School Supply Item</mat-label>
          <input matInput formControlName="schoolSupplyItem" placeholder="School Supply Item">
        </mat-form-field>
      </div>
      
      <div *ngIf="selectedSubcategoryName === '59'">
        <mat-form-field>
          <mat-label>Educational Game Item</mat-label>
          <input matInput formControlName="educationalGameItem" placeholder="Educational Game Item">
        </mat-form-field>
      </div>
      
      <div *ngIf="selectedSubcategoryName === '60'">
        <mat-form-field>
          <mat-label>Other Educational Item</mat-label>
          <input matInput formControlName="otherEducationalItem" placeholder="Other Educational Item">
        </mat-form-field>
      </div>
    </form>
  </div>

  <!-- Other Items Form -->
  <div  *ngIf="selectedCategoryName === '12'">
    {{onFormValidityChanged(otherForm)}}
    <form [formGroup]="otherForm">
      <div>
        <mat-form-field>
          <mat-label>Other Item Name</mat-label>
          <input matInput formControlName="otherItemName" placeholder="Item name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Other Item Description</mat-label>
          <input matInput formControlName="otherItemDescription" placeholder="Description about the item">
        </mat-form-field>
      </div>
    </form>
  </div>

</div>
</div>
  
  
  
