.formContainer{
    margin: 5% 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 2vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 4% 7%;
    padding-bottom: 7%;
}

/* header text styles */
.headerText{
    padding: 0% 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#headerT{
    font-weight: 500;
}
#linkExt{
    font-size: small;
    font-style: italic;
    color: rgb(120, 155, 210);
}

/* form styles */
form{
    padding: 0% 10%;
}

.promotionCheck{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.promotionCheck mat-form-field {
    height: 12vh;
}

.promotions{
    width: 70%;
}


.divider {
    margin: 5% 0%;
    width: 34vw;
}

#continueButton{
    margin-left: 2vw;
}