<div class="formContainer">

  <form [formGroup]="generalDetailsForm" class="formGeneral">

    <!-- Title Input -->
    <div>
      <mat-form-field>
        <mat-label>Title:</mat-label>
        <input matInput type="text" formControlName="title">
      </mat-form-field>
    </div>

    <!-- Description Textarea -->
    <div>
      <mat-form-field>
        <mat-label>Description:</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <!-- Price Input -->
    <div>
      <mat-form-field>
        <mat-label>Price:</mat-label>
        <input matInput type="number" formControlName="price">
      </mat-form-field>
    </div>

    <div class="flexRow">
      <!-- Location Select -->
      <div>
        <mat-form-field>
          <mat-label>Location:</mat-label>
          <mat-select formControlName="location" (change)="updateSublocations()">
            <mat-option *ngFor="let location of locations" [value]="location.location_id">{{ location.location }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Sublocation Select -->
      <div>
        <mat-form-field>
          <mat-label>Sublocation:</mat-label>
          <mat-select formControlName="sublocation">
            <mat-option *ngFor="let sublocation of sublocations[generalDetailsForm.get('location')?.value]" [value]="sublocation.sublocation_id">{{ sublocation.sublocation }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-divider class="devider"></mat-divider>

    <!-- Phone Number Input -->
    <div class="gridTelephone">
      <div class="addTelephone">
        <mat-form-field>
            <mat-label>Phone Number:</mat-label>
            <input matInput type="tel" formControlName="phone" placeholder="You can add maximum 3 numbers">
        </mat-form-field>

          <!-- Add Phone Number Button -->
        <button mat-raised-button color="primary" type="button" (click)="addPhoneNumber()" [disabled]="disableAddButton">Add</button>
      </div>

      <!-- Display Added Phone Numbers -->
      <div class="addedTelephone">
        <p>Added Phone Numbers:</p>
        <mat-list>
          <mat-list-item *ngFor="let number of telephoneNumbers; let i = index">
            {{ number }}
            <mat-icon (click)="removePhoneNumber(i)" class="removeNumbericon">highlight_off</mat-icon>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-divider class="devider"></mat-divider>
    </div>

    <!-- Add Images -->
    <div>
      <div class="addImages">
        <button mat-flat-button color="primary" class="customUploader" [disabled]="disableAddImageButton">
          <input type="file" id="file" (change)="addImage($event)" accept="image/*" multiple [disabled]="disableAddImageButton">
          <label for="file" class="imageUploadbtn">Upload your images(Maximum 6 images)*<mat-icon class="imageIcon">add_a_photo</mat-icon></label>
        </button>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </div>

      <!-- Display Added Images -->
      <p>Added Images:</p>
      <div class="addedImages"> 
        <div *ngFor="let image of imageFiles; let i = index" class="imagesList">
          <img [src]="imagePreviews[i]" alt="Preview" width="100" height="100">
          <mat-icon (click)="removeImage(i)" class="imageRemoveicon">highlight_off</mat-icon>
        </div>
        <div *ngIf="uploadingImages" class="loaderAnimation">
          <mat-spinner diameter="30" color="primary"></mat-spinner>
          <p>Compressing</p>
        </div> 
      </div>
    </div>

  </form>
</div>
